.swiper {
  height: 180px;
  width: 100%;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size:1.15em;
    background-color:#ff0;
  }
}