<div class="page-header">
    <h2>全部热点</h2>
</div>
<div class="content bg-warning">
    这是主页
    <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, assumenda distinctio laborum sit repudiandae rem iusto velit eligendi, minus quod explicabo nostrum quis perferendis accusamus, alias, saepe suscipit ad placeat temporibus blanditiis est similique. Corporis soluta ipsum itaque voluptatem amet dolorem sequi placeat ad dolorum hic deleniti molestias ipsam nesciunt rem, ea, esse tempora qui facere commodi. Quam accusamus sequi quas neque quaerat ratione aperiam voluptatum autem, ipsum minima nemo velit in quisquam minus est temporibus ex voluptatibus distinctio nobis delectus vel soluta adipisci asperiores, laudantium fuga! Magnam pariatur voluptates minus explicabo eligendi dignissimos, inventore reiciendis quam delectus?
</div>