<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>图片上传</title>
    <meta name="description" content="Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
    <div>
        <form  name="frm" action="{:url('index/test/upload')}" method="post" enctype="multipart/form-data">
        	<input type="text" name="name" id="">
            <input placeholder="" name="image" type="file">
            <button type="submit" class="btn btn-default">提交图片</button>
        </form>
    </div>
</body>

</html>